<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15G31</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RRConstraintsPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.ud7.RRConstraintsPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RRConstraintsPlugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7D1014</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15E60</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0731</string>
	<key>DTXcodeBuild</key>
	<string>7D1014</string>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>C4A681B0-4A26-480E-93EC-1218098B9AA0</string>
		<string>FEC992CC-CA4A-4CFD-8881-77300FCB848A</string>
		<string>A16FF353-8441-459E-A50C-B071F53F51B7</string>
		<string>9F75337B-21B4-4ADC-B558-F9CADF7073A7</string>
		<string>7FDF5C7A-131F-4ABB-9EDC-8C5F8F0B8A90</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Rolandas Razma. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>RRConstraintsPlugin</string>
	<key>XC4Compatible</key>
	<true/>
	<key>XC5Compatible</key>
	<true/>
	<key>XCPluginHasUI</key>
	<false/>
</dict>
</plist>
